# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for various databases.
# For MySQL, the connection string must start with "mysql://".
# Adjust the values as needed.

DATABASE_URL="mysql://root:root@localhost:3306/tree_fungi"
