<!-- List of Fungi -->
        {{#each fungi}}
            <div class="fungus card mb-3">
                <div class="card-body">
                    <h2 class="card-title">{{name}}</h2>
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
        {{/each}}